:root {
    --bg-color: #141519;
    --orange: #fb7413;
    --white: #ffffff;
    --very-light-gray: #3a414b;
    --light-gray: #959eac;
    --medium-gray: #7c8798;
    --dark-blue: #252d37;
    --light-blue: #353c47;
}