:root {
    --bg-color: #141519;
    --rating-card-bg-color: #202731;
    --rating-card-title-color: #fefefe;
    --rating-card-description-color: #747a86;
    --rating-button-normal-background: #262d37;
    --rating-button-normal-text-color: #828b94;
    --rating-button-hover-background-color: #fc7613;
    --rating-button-hover-text-color: #ffe5cb;
    --submit-button-disabled-background: #262d37;
    --submit-button-disabled-color:#828b94;
    --submit-button-active-background:#fc7613;
    --submit-button-active-text-color:#ffe5cb;
}